.todoListItem {
  padding: 1.5em 1em;
  height: 4em;
  cursor: grab;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  box-shadow: inset 0px -6px 20px -25px;
  word-break: break-all;
}

.listItemInner {
  margin-left: 1em;
  display: flex;
  justify-content: start;
  align-items: center;
}

.itemCheckbox {
  transform: scale(1.4);
  cursor: pointer;
}

.listItemText {
  padding: 0;
  margin-left: 1em;
}

.listItemBtnDel {
  cursor: pointer;
  color: #b71c1c;
  transition: 0.2s ease-in-out;
}

.listItemBtnDel:hover {
  opacity: 0.3;
}

.listItemEditBtn {
  width: 3em;
  padding: 1em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.listItemEditBtn:hover {
  opacity: 0.3;
}

.listItemSecondInner {
  display: flex;
  align-items: center;
}

.fa-check {
  color: #8bc34a;
}

.fa-pen {
  color: #424242;
}

@media (max-width: 767px) {
  .TodoList {
    margin-bottom: 4em;
  }
}
