.footer {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.footerText {
  width: 70%;
  padding-left: 1em;
  color: #999;
}

.btnClear {
  height: 100%;
  width: 30%;
  background-color: #f5f5f5;

  font-size: 0.8em;

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btnClear:hover {
  background-color: #e8e8e8;
}

.footerAddBtn {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
